img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border: burlywood solid;
}
h3 {
    text-align: center;
    padding: 10px;
    margin: 5px;
}
p {
    margin: 15px;
    padding: 5px;
}
.page-content {
    margin: 100px;
    background: white;
    border: burlywood solid;
}
body {
    background-image: url(/images/pasta-2.gif);
    background-repeat: repeat;
}
