p {
    text-align: center;
}
.card {
    display: inline-flex;
    flex-direction: column;
    margin: 60px;
    padding: 10px;
}
img {
    width: 700px;
    height: 250px;
}
.products-content {
    background: white;
    margin: 130px;
}